<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.UserMapper">

	    <select id="queryUserByAccount" resultType="UserPojo" >
			SELECT * FROM shop_user where uaccount=#{xxx}
		</select>


		<insert id="insertUser">
			insert into shop_user(uaccount,upass) values(#{uaccount},#{upass})
		</insert>

</mapper>